@charset "UTF-8";

/*
Paletas de cores
verde: #49a09d
Lilás: #5f2c82
*/


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    }

section#login {
    position: absolute; /*Centralizando*/
    top: 50%; /*Centralizando*/
    left: 50%; /*Centralizando*/   
    overflow: hidden; /*Tudo que estiver fora da borda, será escondido.*/

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transform: translate(-50%, -50%); /*Centralizando*/

    transition: width 0.3s, heigh 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/Prédio\ azul.jpg) no-repeat;
    background-size: cover;
    height: 200px;    

}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 39px;
    border-radius: 8px;
    margin: 5px 5px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 39px;
    padding: 5px;
}

div.campo > input {
    background-color: #a6c4c9;
    font-size: 1em;
    width: calc(100% - 45px);
    /*height: 100%;*/    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #2f7c88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

form > input[type=submit]:hover {
    background-color: #244a49d1;
    

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #1f4746;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;

}

form > a.botao:hover {
    background-color: #3cd6ef;

}

form > a.botao > span {
    font-size: 0.8em;
    
}